// @import "../../../node_modules/bootstrap/scss/bootstrap.scss";
a {
  &:hover {
      color: red;
  }
}
$alertClass: "error";

p.message-#{$alertClass} {
    color: red;
}
.flex {
  display: flex;
}